html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

.bview {
    width: 100%;
    height: 100%;
    background-color: black;
}

.bview span {
    color: white;
}

.bview .bview-bottom {
    position: fixed;
    bottom: 0;
    right: 0;
}